.navbar-brand {

    background-color: rgb(3, 184, 130);
    margin-left: 100px;
    padding: 20px;
}

.card-img {
    width: 200px;
    height: 200px;
}

.card-text {

    margin-left: 24px;
}

.card-title {

    font-size: 34px;
    margin-left: 20px;
    margin-top: -22px;
}

.container {

    margin-top: 50px;
}

.col-4 {
    font-size: 30px;
    margin-top: 60px;
}

.card-title {
    background-color: dark grey;
}

h5 {
    font-size: 15px;
}

.img {
    width: 200px;
    height: 200px;
}

body {
    background-color: rgb(224, 222, 218);
}
.container {
    margin-top: 80px;
}

.container1 {
    background-color: white;
}

.section {
    width: 50%;
}

.form-group {
    margin-top: 20px;
}

.btnbtn-primary {
    background-color: rgb(3, 184, 130);
}

